<div class="nav">
    <div class="nav-top">
        <div class="nav-header bc">
			<img src="__PUBLIC__/images/top.jpg" alt="百事得" />
        </div>	
    </div>
    <div class="nav-bottom">
		<div class="nav-list bc">
            <ul class="nav-ui">
                <li id="Index" class="inline active"><a href="{:U('Index/index')}">公司首页</a></li>
                <li id="Comp" class="inline"><a href="{:U('Comp/index')}">公司概况</a></li>
                <li id="Service" class="inline"><a href="{:U('Service/index')}">服务产品</a></li>
                <li id="Case" class="inline"><a href="{:U('Case/index')}">案例展示</a></li>
                <li id="News" class="inline"><a href="{:U('News/index')}">新闻资讯</a></li>
            </ul>
        </div>
    </div>
</div>