<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<include file="Public/header" title="首页-百事得物流公司" />
</head>

<body>
    <include file="Public/nav" />
    <div class="blankarea1"></div>
		<div class="homepage bc">        
			<img src="__PUBLIC__/images/nav-top.jpg" alt="百事得宣传"  />
			<div class="blankarea2"></div>
			<div class="news fl">
				<div class="news-images fl">
					<img src="__PUBLIC__/images/wuliu.png" alt="新闻图片" height="300px" width="450px"/>
				</div>
				<div class="news-list fr">
					<h3 class="fl">公司新闻</h3>
					<div class="news-more fr">
						<a class="fr" href="news.html">+More</a>
					</div>
					<ul class="news-ul fl">
						<li><a href="">中国广东肇庆百事得物流有限公司</a><span>2016-02-16</span></li><hr />
						<li><a href="">2016年2月中国物流业景气指数</a><span>2016-02-16</span></li><hr />
						<li><a href="">全球新兴市场物流指数排名</a><span>2016-02-16</span></li><hr />
						<li><a href="">中国广东肇庆百事得物流有限公司</a><span>2016-02-16</span></li><hr />
						<li><a href="">2016年2月中国物流业景气指数</a><span>2016-02-16</span></li><hr />
						<li><a href="">全球新兴市场物流指数排名</a><span>2016-02-16</span></li>
					</ul>
				</div>            
			</div>
			<div class="blankarea2 fl"></div>
			<div class="company fl">
				<h3 class="fl">公司简介</h3>
				<div class="company-more fr">
					<a class="fr" href="information.html">+More</a>
				</div>
				<div class="company-content fl">
					<div class="company-image">
						<img src="__PUBLIC__/images/wuliu.png" alt="公司图片" width="220px"/>
					</div>
					<p class="company-list fr">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;肇庆市百事得物流有限公司是一家旨在运用RFID技术和网络技术，致力于提供物流标准化整体解决方案的公司。自公司成立以来，一直坚持“自强、诚信、开拓、创新”的立身之本，秉承：“标准规范，高效便捷”的经营宗旨，产品可广泛应用于商贸连锁企业、电商物流企业、快消品生产企业、药品流通企业、农产品流通企业等，有效帮助企业节约物流成本，提高物流效率。</p>
				</div>
            </div>  
			<div class="contact fr">
				<h3>联系我们</h3>
				<ul>
					<li>公司名称：百事得物流有限公司</li>
					<li>官网：www.zqbestlog.com</li>
					<li>邮编：516000</li>
					<li>合作热线：0758-2107833</li>
					<li>联系邮箱: baishidewuliu@163.com</li>  
				</ul>
            </div>
            <div class="suit fl">
            	<div class="suit-area">
                	<h3 class="fl">适用场合</h3>
                    <div class="suit-more fr">
                		<a class="fr" href="service.html">+More</a>
           			</div>
            	</div>
                <div class="suit-image">
                	<img src="__PUBLIC__/images/huojia1.jpg" alt="货架与托盘管理"  />
                    <img src="__PUBLIC__/images/wupin1.jpg" alt="物品查找系统"  />
                    <img src="__PUBLIC__/images/wuliu1.jpg" alt="物流运输"  />
                    <img src="__PUBLIC__/images/lingshou1.jpg" alt="批发与零售管理"  />
                </div>
            </div>
		</div>
		<include file="Public/footer" />
		<script src="__PUBLIC__/js/jquery.js"></script>
    </body>
</html>
